<template>
  <div>
    <container grid="lg">
      <h1>{{ msg }}</h1>
    </container>
    <column col="8" style="margin: 1rem auto">
      <card style="background-color: lightblue">
        <card-header>
          <h2>Welcome</h2>
        </card-header>
        <card-body>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam,
          magnam?
        </card-body>
        <card-footer>
          <btn type="success" @click="modal = !modal"
            ><icon name="emoji" /> Modal</btn
          >
        </card-footer>
      </card>
    </column>

    <modal v-model="modal">
      <h2 slot="header">Welcome</h2>
      <p slot="body">PWA template made by a shinobi</p>
    </modal>
  </div>
</template>

<script>
export default {
  props: {
    msg: String,
  },
  data() {
    return {
      modal: false,
    };
  },
};
</script>

<style scoped>
a {
  color: #42b983;
}

button:hover {
  transform: scale(1.1);
}
</style>
