<template>
  <navigation>
    <navigation-item>
      <icon name="flag" /><btn type="link" href="">Home</btn>
    </navigation-item>
    <navigation-item>
      <icon name="bookmark" /><btn type="link" href="">About</btn>
    </navigation-item>
  </navigation>
</template>

<script>
export default {
  data: () => ({}),
};
</script>

<style></style>
