<template>
  <div id="app">
    <div class="reload">
      <ReloadPrompt />
    </div>
    <div class="sidebar">
      <off-canvas :sidebar="false" icon="apps" overlay="0.5" close-on-overlay>
        <template #sidebar>
          <p class="mt-3" style="font-weight: 600">R0N1n-dev</p>
          <!--  <div>
            <btn type="link">Home</btn>
          </div>
          <div>
            <btn type="link">About</btn>
          </div>-->
          <div>
            <TheTile />
          </div>
        </template>
        <template #content>
          <span style="font-weight: bold">R0N1n-Vectre</span>
        </template>
      </off-canvas>
    </div>
    <HelloWorld msg="Vue 2 Vite Vectrejs PWA" style="margin-top: 2rem" />
  </div>
</template>

<script>
import Logo from "./assets/ronin.jpg";
import HelloWorld from "./components/HelloWorld.vue";
export default {
  data: () => ({
    modal: false,
    image: Logo,
  }),
  components: {
    HelloWorld,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
